@page "/host"
@layout LoginLayout

@using Normio.Client.Data
@inject NavigationManager NavigationManager


<div>
    <br /><br /><br /><br />
</div>

<div>
    <h3>Normio Login (Host)</h3>    
</div>
<div>
    <br/>
</div>
<div>
    <input class="form-control col-12" @bind="examId" placeholder="Exam ID" />
</div>
<div>
    <input class="form-control col-12" @bind="host.Id" placeholder="Host ID" />
</div>
<div>
    <input type="password" class="form-control col-12" @bind="host.Password" placeholder="Password" />
</div>
<div>
    If I am student, use
    <a href="/">
        Student Login
    </a>
</div>
<br/>
<div>
    <button class="btn btn-primary" @onclick="Validate">
        Login
    </button>
</div>
<div>
    @LoginResultMessage
</div>



@code {
    private string examId { get; set; }
    private Host host = new Host();

    private string LoginResultMessage { get; set; }

    private void Validate()
    {
        bool isValid = ValidateHost(examId, host);


        if (isValid)
        {
            NavigationManager.NavigateTo("/waitingroom");
        }
        else
        {
            LoginResultMessage = "Invalid username or password";
        }
    }
    
    private bool ValidateHost(string examId, Host host)
    {
        return host.Id == "123"; // FIX with API call
    }

}